<div class="catalog">
    <h2>Livres</h2>

    <div class="btn-group" role="group" aria-label="Choose category">
        <a class="category-btn btn btn-primary" id="all" role="button">Tous les livres</a>
        <a class="category-btn btn btn-secondary" id="combat" role="button">Combat</a>
        <a class="category-btn btn btn-secondary" id="comedy" role="button">Comédie</a>
        <a class="category-btn btn btn-secondary" id="fantastic" role="button">Fantastique</a>

    </div>

    <div id="book-container" class="book-cards-container">
        
    </div>
</div>