<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STS - Forgot Password</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <h1>reset</h1>
        <form th:action="@{/user/resetPassword}" method="post" th:object="${email}">
            <label>email</label>
            <input id="email" name="email" type="email" value="" th:value="${email}" />
            <button type="submit">reset</button>
        </form>

        <a th:href="@{/registration}">
            registration
        </a>
        <a th:href="@{/login}">login</a>

    </body>

</html>